{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <title> Confirmação de Pedido </title>
    <link rel = "stylesheet" href = "{% static 'css/base.css' %}">
{% endblock 'head' %}

{% block 'content' %}
<h2>Confirmação de Pedido - EventManager</h2>
    <p>Olá {{ pedido.usuario }},</p>
    <p>Seu pedido foi confirmado. Abaixo estão os detalhes do pedido:</p>
    <h3>Compra Concluída com Sucesso!</h3>
    <p>Obrigado por sua compra. Aqui estão os detalhes do seu pedido:</p>
    <p>Número do Pedido: {{ pedido.id }}</p>
    <p>Evento: {{ pedido.evento.name }}</p>
    <p>Quantidade: {{ pedido.quantidade }}</p>
    <p>Total do Pedido: R$ {{ pedido.total }}</p>
    <p>Obrigado por escolher o EventManager!</p>
{% endblock 'content' %}
