{% extends 'base.html' %} 
{% load static %}
{% block 'head'%}
    <title> eventManager - {{ evento.name }} </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel = "stylesheet" href = "{% static 'css/paginaevento.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
{% endblock 'head'%}

{% block 'content' %}

    <main>
        <div id = "imagem" style = "background: url('{% static evento.image.url %}') no-repeat;">
            <img src = "{% static evento.image.url %}" alt = "Imagem do Evento">
        </div>
        <div id = "informacoes">
            <h1> {{ evento.name }} </h1>
            <p>
                <span class="material-symbols-outlined">calendar_month</span> {{ evento.start_date }} até {{ evento.end_date}}
                <br>
                <span class="material-symbols-outlined">location_on</span> {{ evento.address }}
            </p>
            <h2> Descrição do Evento </h2>
            <p> {{ evento.description }} </p>
            <p>Valor da Entrada: R$ {{ ticket }}</p>
            <h2> Sobre o Organizador </h2>
            <p>
                <strong> {{ evento.promoter.fullname }} </strong>
                <br>
                <h3> Contato </h3>
                {{ evento.promoter.email }}
                <br>
                {{ evento.promoter.phone }}
            </p>
        </div>

        <h1>Ingressos</h1>
        <button onclick="adicionarIngresso()">Adicionar Ingresso (+)</button>
        <p><span id="quantidade">0</span></p>
        <button onclick="removerIngresso()">Remover Ingresso (-)</button>
        <form id="cartForm" method="post" action="{% url 'add_to_cart' evento.id %}">
            {% csrf_token %}
            <p>{{ticket}}<p>
            <input type="hidden" name="quantity" id="quantidadeInput" value="0">
            <input type="submit" value="Continuar"></input>
        </form>
        
        <script>
            let quantidadeIngressos = 0;

            function adicionarIngresso() {
                quantidadeIngressos++;
                document.getElementById("quantidade").innerText = quantidadeIngressos;
                document.getElementById("quantidadeInput").value = quantidadeIngressos;
            }
        
            function removerIngresso() {
                if (quantidadeIngressos > 0) {
                    quantidadeIngressos--;
                    document.getElementById("quantidade").innerText = quantidadeIngressos;
                    document.getElementById("quantidadeInput").value = quantidadeIngressos;
                }
            }
        </script>
{% endblock 'content' %}