{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/editarmeuperfil.css' %}">
{% endblock 'head' %}
{% block 'content' %}
    <main>
        <h1> {{ user.fullname }} </h1>
        <div id="informacoes">
            <h2> Informações </h2>
            <form method="POST" action="{% url 'update_profile' %}">
                {% csrf_token %}
                <div class = "campo">
                    <label for = "username"> Nome de usuário: </label>
                    <input type = "text" id = "username" name = "username" value="{{ user.username }}" required>
                </div>
                <div class = "campo">
                    <label for = "fullname"> Nome Completo: </label>
                    <input type = "text" id = "fullname" name = "fullname" value="{{ user.fullname }}" required>
                </div>
                <div class="campo">
                    <label for = "phone"> Telefone: </label>
                    <input type = "tel" id = "phone" name="phone" value="{{ user.phone }}" required>
                </div>
                <div class="campo">
                    <label for = "email"> Email: </label>
                    <input type = "email" id = "email" name = "email" value = "{{ user.email }}" required>
                </div>
                <div class="campo">
                    {% if current_password_error %}
                        <div class="error-message">Senha atual está incorreta.</div>
                    {% endif %}
                    <label for="current_password" class = "visivel"> Senha atual: </label>
                    <input type="password" id="current_password" name="current_password">

                    <label for="new_password" class = "visivel"> Nova senha: </label>
                    <input type="password" id="new_password" name="new_password">
                    {% if password_invalid_error %}
                        <div class="error-message">Sua senha deve possuir pelo menos oito caracteres, incluindo letras maiúsculas e minúsculas e números</div>
                    {% endif %}

                    <label for="confirm_new_password" class = "visivel"> Confirme a nova senha: </label>
                    <input type="password" id="confirm_new_password" name="confirm_new_password">
                    {% if password_mismatch_error %}
                        <div class="error-message">As senhas não correspondem.</div>
                    {% endif %}
                </div>
                <input type = "submit" value = "Salvar" id = "btn-salvar">
            </form>
            <a href = "{% url 'profile' %}"> <button id = "btn-cancelar"> Cancelar </button></a>
        </div>
    </main>
{% endblock 'content' %}