{% load static %}
<!DOCTYPE html>
<html lang = "pt-BR">
    {% block 'head' %}
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        {% block 'title' %}<title> eventManager </title> {% endblock %}
        <link rel = "stylesheet" href = "{% static 'css/base.css' %}">
    </head>
    {% endblock 'head' %}
    {% block 'body' %}
    <body>
        <nav>
            <a href = "{% url 'index' %}" id = "logo"> eventManager </a>
            <ul>
                {% if user.is_authenticated %}
                    {% if user.isPromoter %}
                    <li> <a href= "{% url 'listEvent' %}"> <button> Meus Eventos </button> </a> </li>
                    <li> <a href = "{% url 'listOrders' %}"> <button> Meu Pedidos </button> </a> </li>
                    <li> <a href = "{% url 'profile' %}"> <button> Meu Perfil </button> </a> </li>
                    <li> <a href = "{% url 'logout' %}"> <button> Sair </button> </a> </li>
                    {% else %}
                        <li> <a href = "{% url 'listOrders' %}"> <button> Meu Pedidos </button> </a> </li>
                        <li> <a href = "{% url 'profile' %}"> <button> Meu Perfil </button> </a> </li>
                        <li> <a href = "{% url 'logout' %}"> <button> Sair </button> </a> </li>
                    {% endif %}    
                {% else %}
                    <li> <a href = "{% url 'register' %}"> <button> Cadastre-se </button> </a> </li>
                    <li> <a href = "{% url 'login_user' %}"> <button> Login </button> </a> </li>
                {% endif %}
            </ul>
        </nav>
        {% block 'content' %}

        {% endblock 'content' %}
    </body>
    {% endblock 'body' %}
</html>