{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <title> eventManager </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "{% static 'css/base.css' %}">
    <link rel = "stylesheet" href = "{% static 'css/home.css' %}">
{% endblock 'head' %}

{% block 'content' %}
    {% if user.is_authenticated %}
        <div class="container">
            <h1 class="mt-4"> Eventos Disponíveis </h1>
    
            <div class="row">
                {% for event in events %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ event.name }}</h5>
                                <h6 class="card-title">{{ event.date }}</h6>
                                <a href="{% url 'viewEvent' event.id  %}" class="btn btn-primary"> Detalhes </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        {% comment %} <div class="event-cards">
            {% for event in events %}
                <a href="{% url 'viewEvent' event.id %}">
                    <div class="event-card">
                        <img src="{{ event.image.url }}" alt="{{ event.name }}">
                        <h2>{{ event.name }}</h2>
                    </div>
                </a>
            {% endfor %}
        </div> {% endcomment %}
    {% else %}
        <main>    
            <div id = "banner">
                
            </div>

            <div id = "paragrafo">
                <p>
                    <span id = "destaque"> Planeje eventos de <br> sucesso com toda a</span> <br> Facilidade
                </p>
                <a href = "{% url 'register' %}"> <button> Seja um Promotor de Eventos </button> </a>
            </div>
        </main>
    {% endif %}
{% endblock 'content' %}