@charset "UTF-8";

main {
    width: 1000px;
    height: 500px;
    margin: 20px auto;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.492);
}

div#banner {
    width: 50%;
    height: 100%;
    background: url("../img/banner-home.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    float: right;
}

div#paragrafo {
    margin-top: 50px;
    float: left;
    width: 50%;
    padding: 30px;
}

div#paragrafo > p {
    font-family: Roboto;
    font-size: 2em;
    font-weight: bold;
}

span#destaque {
    color: var(--cor02);
}

div#paragrafo > a > button {
    background-color: var(--cor02);
    border: 2px solid var(--cor02);
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.492);
    color: #FFFFFF;
    width: 300px;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
    scale: 1;
    transition: 0.5s;
}

div#paragrafo > a > button:hover {
    scale: 1.1;
    transition: 0.5s;
}

div#banner > img {
    margin-left: 30px;
    width: 600px;
    height: 330px;
}

div.card {
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.482);
}

img.card-img-top {
    height: 290px;
}

button#btn-detalhes {
    height: 40px;
    width: 150px;
    margin-top: 20px;
    border: 1px solid var(--cor02);
    border-radius: 10px;
    background-color: var(--cor02);
    color: #FFFFFF;
    font-size: 0.9em;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.482);
    cursor: pointer;
    scale: 1;
    transition: 0.5s;
}

button#btn-detalhes:hover {
    scale: 1.2;
    transition: 0.5s;
}


/* Media-Query para telas de até 992px */

@media screen and (max-width: 992px) {
    
    main {
        width: 400px;
        height: 600px;
    }

    div#banner {
        display: block;
        float: none;
        width: 100%;
        height: 50%;
    }

    div#paragrafo {
        display: block;
        float: none;
        width: 100%;
        height: 50%;
    }
}