@charset "UTF-8";

main {
    width: 1000px;
    height: 500px;
    margin: 20px auto;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.492);
}

div#banner {
    width: 50%;
    height: 100%;
    background: url("../img/banner-home.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    float: right;
}

div#paragrafo {
    margin-top: 50px;
    float: left;
    width: 50%;
    padding: 30px;
}

div#paragrafo > p {
    font-family: Roboto;
    font-size: 2em;
    font-weight: bold;
}

span#destaque {
    color: var(--cor02);
}

div#paragrafo > a > button {
    background-color: var(--cor02);
    border: 2px solid var(--cor02);
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.492);
    color: #FFFFFF;
    width: 300px;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
    scale: 1;
    transition: 0.5s;
}

div#paragrafo > a > button:hover {
    scale: 1.1;
    transition: 0.5s;
}

div#banner > img {
    margin-left: 30px;
    width: 600px;
    height: 330px;
}

div.card {
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.482);
}

img.card-img-top {
    height: 290px;
}

button#btn-detalhes {
    height: 40px;
    width: 150px;
    margin-top: 20px;
    border: 1px solid var(--cor02);
    border-radius: 10px;
    background-color: var(--cor02);
    color: #FFFFFF;
    font-size: 0.9em;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.482);
    cursor: pointer;
    scale: 1;
    transition: 0.5s;
}

button#btn-detalhes:hover {
    scale: 1.2;
    transition: 0.5s;
}

div#search-bar {
    display: flex;
    gap: 10px;
    margin: 20px;
    width: 400px;
    border: 1px solid #A49D9D;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.386);
    padding: 0px 10px;
}

div#search-bar > img {
    width: 25px;
    height: 25px;
}

div#search-bar > input {
    border: none;
    width: 400px;
    background-color: #FFFFFF;
}

div#search-bar > input::placeholder {
    font-size: 1em;
    padding: 10px 0px;
    text-decoration: none;
}

div#search-bar > input:focus-visible {
    outline: none;
}

div#btn-location {
    margin: 20px;
    display: flex;
}

div#btn-location > img {
    width: 25px;
    height: 25px;
}

button#local {
    border: none;
    border-radius: 10px;
    width: 200px;
    margin-left: 0px;
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

ul#locationList {
    list-style-image: url("../img/navegacao-gps.png");
}

ul#locationList > li {
    font-size: 1.2em;
    margin: 20px;
    cursor: pointer;
}

/* Media-Query para telas de até 992px */

@media screen and (max-width: 992px) {
    
    main {
        width: 400px;
        height: 600px;
    }

    div#banner {
        display: block;
        float: none;
        width: 100%;
        height: 50%;
    }

    div#paragrafo {
        display: block;
        float: none;
        width: 100%;
        height: 50%;
    }
}